{% extends 'baseMenu.html' %}
{% block content %}


        <br>
        <h1>BIENVENIDO {{usuario}}</h1>
        <div class="tablero">

        <a href="/solicitud/" ><button class="btn" >SOLICITAR PRESTAMOS</button></a>
        <a href="/pagoA/" ><button class="btn" >PAGAR CUOTA AUTOMÁTICA </button></a>
        <a href="/pagoAde/" ><button class="btn" >PAGAR CUOTA ADELANTADA</button></a>
        <a href="/estadoC/" ><button class="btn" >ESTADO DE CUENTA</button></a>
        <a href="../indexT/" ><button class="btn" >COMPRAR CON TARJETA DE CRÉDITO</button></a>
        <a href="../index/" ><button class="btn" >SALIR</button></a>

        </div>


        <br>



{% endblock %}