<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>MENU ADMIN</title>
    <link rel="stylesheet" href="{% static 'css/estiloMenu.css' %}"/>
</head>
<body>
    <div id="tablero">
        <a href="/registro/" ><button class="btn">REGISTRAR CLIENTE INDIVIDUAL</button></a>
        <a href="/registroEm/" ><button class="btn" >REGISTRAR CLIENTE EMPRESARIAL</button></a>
        <a href="/nuevaMonetaria/" ><button class="btn" >CREAR CUENTAS MONETARIAS</button></a>
        <a href="/nuevaAhorro/" ><button class="btn" >CREAR CUENTAS DE AHORRO</button></a>
        <a href="/nuevaFija/" ><button class="btn" >CREAR CUENTAS DE AHORRO A PLAZO FIJO</button></a>
        <a href="/nuevaChequera/" ><button class="btn" >GENERAR CHEQUERAS</button></a>
        <a href="/nuevaTarjeta/" ><button class="btn" >GENERAR TARJETA DE CREDITO</button></a>
        <a href="/depositar/" ><button class="btn" >DEPOSITAR MONTOS</button></a>
        <a href="/registroEm/" ><button class="btn" >COBRAR CHEQUES</button></a>
        <a href="/registroEm/" ><button class="btn" >DESBLOQUEAR USUARIOS</button></a>

    </div>

</body>
</html>