{% extends 'baseMenu.html' %}
{% block content %}


        <br>
        <h1>BIENVENIDO {{usuario}}</h1>
        <div class="tablero">
            <a href="/registro/" ><button class="btn">PAGAR PLANILLAS</button></a>
        <a href="/registroEm/" ><button class="btn" >PAGAR A PROVEEDORES</button></a>
        <a href="/nuevaMonetaria/" ><button class="btn" >SOLICITAR PRESTAMOS</button></a>
        <a href="/nuevaAhorro/" ><button class="btn" >PAGAR CUOTA AUTOMÁTICA </button></a>
        <a href="/nuevaFija/" ><button class="btn" >PAGAR CUOTA ADELANTADA</button></a>
        <a href="/nuevaChequera/" ><button class="btn" >ESTADO DE CUENTA</button></a>
        <a href="../loginTienda/" ><button class="btn" >COMPRAR CON TARJETA DE CRÉDITO</button></a>
        <a href="../index/" ><button class="btn" >SALIR</button></a>


        </div>


        <br>



{% endblock %}